{% load static %}
<!doctype html>
<html lang="es">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/whatsapp.css' %}"/>

    <!-- Logo -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'static/images/logo-ads-alta-i.ico' %}"/>
    <title>ADS - {% block title %} {% endblock %}</title>

    <!-- Bootstrap -->
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light bg-gradient sticky-top" id="menu">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">
        <span class="text-dark fs-4 fw-bold m-1">
          <img src="{% static 'images/logo-ads-alta.png' %}" alt="logo-ads" width="115" height="75">ADS Construcción en seco
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto mb-4 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Sobre Nosotros
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="#about">
              {% for page in pages %}
              {% if page.3 == True %}
              <li><a class="dropdown-item" href="{% url 'page' page.2 %}">{{page.1}}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Obras
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% for page in pages %}
              {% if page.4 == True %}
              <li><a class="dropdown-item" href="{% url 'page' page.2 %}">{{page.1}}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
          {% for page in pages %}
          {% if page.3 == False and page.4 == False %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'page' page.2 %}">{{page.1}}</a>
          </li>
          {% endif %}
          {% endfor %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

     <!----- Content ----->
     <div id="content">
        {% block content %}
             <!----- Intro ----->

              <section class="d-flex flex-column justify-content-center align-items-center pt-5  text-center w- m-auto" id="intro">
                <h1 class="p-3 fs-2 border-top border-3">Realizamos construcción en seco, somos especialistas en<span class="text-primary"> Wood Frame<span/></h1>
                <p class="p-3  fs-4">
                    En <span class="text-primary">ADS</span> hacemos realidad tu vivienda, desde los cimientos hasta el último detalle. <span class="text-primary">Entregamos llave en mano</span>, 
                    con todas las instalaciones y servicios funcionando. 
                    Trabajamos de acuerdo a las necesidades del cliente, ofreciendo una <span class="text-primary">construcción rápida, eficiente y resistente</span>. 
                    Llevamos adelante proyectos de gran calidad, eligiendo los mejores materiales, con especial cuidado de los detalles y terminaciones.
                    Si estás pensando en construir, te invitamos a que nos conozcas mejor para que puedas recibir el asesoramiento adecuado. 
                    En ADS te espera un equipo profesional, compuesto por personas sencillas y cordiales, que trabajan con seriedad.
        
                </p>
              </section>

        
            <!----- Card group ----->

           
              
              
              <div class="container">
                <div class="row justify-content-center">
                  
                    {% for page in pages %}
                        <div class="col">
                          <div class="card h-100">
                            
                            <img class="card-img-top" src="{{object.image.url}}" alt="Card image cap">
                            <div class="card-body">
                              <h4 class="card-title">{{page.1}}</h4>
                              <p class="card-text">{{page.5|safe|truncatechars:150}}</p>
                              <a href="{% url 'page' page.2 %}" class="btn btn-primary">Leer más &rarr;</a>
                            </div>    
                          </div>
                        </div>
                    {% endfor %} 
                  
                </div>
              </div>
              
             
             
              
           

          
        {% endblock %}
    </div>
    
     <!----- Whatsapp ----->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
     <a href="https://api.whatsapp.com/send?phone=5492213146395&text=Hola!%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20el%20modelo%20de%20construcci%C3%B3n%20de%20ADS" class="float" target="_blank">
     <i class="fa fa-whatsapp my-float"></i>
     </a>

     <!-- Option 1: Bootstrap Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> 
     <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
       
  </body>

  <br>
  <footer>
    <div class="container">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="row">
          <div class="col-xs-12 col-md-6 text-left">
            <h5>Direcciones</h5>
            <ul class="list-unstyled text-small">
              <li><a class="link-secondary" href="https://goo.gl/maps/ApKJphtjHedc52SA6" target="_blank"><i
                    class="bi bi-geo-alt-fill"></i> Montes de Oca 455, 8206 General San Martín, La Pampa</a></li>
              <li><a class="link-secondary" href="https://goo.gl/maps/vDnGQJNJBKUphjqPA" target="_blank"><i
                    class="bi bi-geo-alt-fill"></i> 476 N°5425, 1902 City Bell, La Plata, Buenos Aires</a></li>
            </ul>
          </div>
  
          <div class="col-xs-12 col-md-6 text-right">
            <h6 class="text-muted lead">Comunicate con nosotros</h6>
            <div id="iconos" class="">
              <a href="https://www.facebook.com/ADSconstruccionpampeana" target="_blank"><i
                  class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/adsconstruccion/" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://api.whatsapp.com/send?phone=5492213146395&text=Hola!%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20el%20modelo%20de%20construcci%C3%B3n%20de%20ADS"
                target="_blank"><i class="bi bi-whatsapp"></i></a>
              <a href="mailto:ads.construccionpampeana@gmail.com?Subject=Me%interesa%saber%más%para%construir"><i
                  class="bi bi-envelope"></i></a>
            </div>
          </div>
        </div>
        <div class="row">
  
          <div class="col-md-12 text-right">
            <p class="text-muted small">&copy; ADS - {% now "Y" %} | Desarrollado por <a href="https://github.com/flavius87" target="_blank">flavius</a></p>
          </div>
  
        </div>
      </div>
    </div>
  </footer>
  
