{% extends 'layout.html' %}
{% load widget_tweaks %}


{% block title %} Contacto {% endblock %}

{% if messages %}
    {% for message in messages %}
        <div class="message">
            {{message}}
        </div>
    {% endfor %}
{% endif %}

{% block content %}
<div class="container mb-5">
    <div class="card-body">
        <div class="row">
            <h2 class="title-brown">¡Contactanos!</h2>  
            <hr class="my-4">
            <div class="col-12 col-md-9">
                    <div class="form-fluid">
                        <form class="form-group" novalidate method="POST">
                            {% csrf_token %}

                            {% render_field form %}

                            <br>
                            <br>
                            
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                            
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}