{% load static %}

<!doctype html>
<html lang="es">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="google-site-verification" content="-EIe1cEIezbTIyp0fytsN7VirDCJc0Sehbon7HJF9Vs" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Construimos CASAS A MEDIDA, realizamos reformas y ampliaciones. 
  Construimos en Wood Frame y entregamos tu casa Llave en Mano. ¡Presupuesto gratis!">

  <!-- Styles CSS -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'css/whatsapp.css' %}" />

  <!-- Logo -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo-ads-alta-i.ico' %}" />
  <title>ADS - {% block title %} {% endblock %}</title>

  <!-- Bootstrap -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-218871022-2">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-218871022-2');
  </script>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #fff;">
      <div class="container-fluid" id="menu">
        <a class="navbar-brand" href="{% url 'index' %}">
          <span class="text-dark fs-4 fw-bold d-block">
            <img src="{% static 'images/logo-ads-alta.png' %}" alt="logo-ads" width="98" height="75">
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" 
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <a class="navbar-brand" href="{% url 'index' %}">
            <h1 class="text-dark fw-bold" id="ads">
              ADS Construcción en seco
            </h1>
          </a>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Sobre Nosotros
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="#about">
                {% for page in pages %}
                {% if page.3 == True %}
                <li><a class="dropdown-item" href="{% url 'page' page.2 %}">{{page.1}}</a></li>
                {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Obras
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% for page in pages %}
                {% if page.4 == True %}
                <li><a class="dropdown-item" href="{% url 'page' page.2 %}">{{page.1}}</a></li>
                {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <!----- Content ----->
  <div id="content">
    {% block content %}
    <!----- Intro ----->
    <div class="container">
      <section class="d-flex flex-column w-auto m-auto" id="intro">
        <h2 class="p-3 fs-2 border-top border-3 justify-content-center align-items-center pt-5  text-center">
          Construcción en seco, viviendas y ampliaciones en<span class="text-brown"> Wood Frame</span></h2>
        <p class="p-3  fs-4" id="texto-justificado">
          En <span class="text-brown">ADS</span> brindamos un servicio integral de construcción para que tu mayor
          responsabilidad sea organizar la mudanza a tu nueva casa. <span class="text-brown">Entregamos llave en
            mano</span>,
          con todas las instalaciones y servicios funcionando.
          Trabajamos de acuerdo a tus necesidades, ofreciendo una <span class="text-brown">construcción rápida,
            eficiente y resistente</span>.
          <br>Llevamos adelante proyectos de gran calidad, eligiendo los mejores materiales, con especial cuidado de los
          detalles y terminaciones.
          Si estás pensando en construir, te invitamos a que nos conozcas mejor para que puedas recibir el asesoramiento
          adecuado.
          En ADS te espera un equipo profesional, compuesto por personas sencillas y cordiales, que trabajan con
          seriedad.
        </p>
      </section>
    </div>
    <div class="container" id="containerviviendalista">
      <a href="#articles">
        <h3 class="card text-center text-white text-uppercase pt-4 m-auto" id="viviendalista">Construimos tu casa en 60
          días</h3>
      </a>
    </div>


    <!----- Card group ----->

    <div class="container pt-4 m-auto">
      <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for page in pages %}
        <div class="col">
          <div class="card h-100">
            {% if page.6 != 'null' %}
            <img class="img-fluid img-thumbnail" id="multi" loading="lazy" src="/media/{{page.6|default_if_none:'#'}}"
              alt="Card image cap">
            {% endif %}
            <div class="card-body">
              <a href="{% url 'page' page.2 %}">
                <h4 class="card-title">{{page.1}}</h4>
              </a>
              <p class="card-text">{{page.5|safe|truncatechars:200}}</p>
              <a href="{% url 'page' page.2 %}" class="btn btn-primary btn-sm">Leer más &rarr;</a>
            </div>
          </div>
        </div>
        {% endfor %}

        <div class="col" id="containergea">
          <div class="card h-100">
            <picture class="img-fluid img-thumbnail">
              <a href="https://gearquitectura.com.ar/"
              target="_blank">
              <source srcset="{% static 'images/estudio-gea-city-bell-la-plata.webp' %}" type="image/webp">
              <img src="{% static 'images/estudio-gea-city-bell-la-plata.jpg' %}" loading="lazy" alt="estudio-gea-city-bell-la-plata">
              </a>
            </picture>
            <div class="card-body" id="gea">
                <a href="https://gearquitectura.com.ar/"
                target="_blank">
                <h4 class="card-title" id="gea__title">Construimos en La Plata</h4>
                </a>
                <p class="card-text">En la región de La Plata, Berisso, Ensenada y localidades cercanas trabajamos junto a GEA Arquitectura.
                  Podés solicitar una reunión en su estudio de arquitectura, ubicado en City Bell.
                </p>
            </div>
          </div>
        </div>

        {% for video in videos %}
        <div class="col">
          <div class="card-body">
            <video width="100%" height="350" controls>
              <source src="/media/{{video.1}}" type="video/mp4" />
            </video>
            <a href="mailto:ads.construccionpampeana@gmail.com?Subject=Me%20interesa%20saber%20más%20para%20construir"
              target="_blank">
              <h4 class="text-center text-uppercase text-white pt-3" id="viviendalista">{{video.0}}</h4>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>



    <section id="galeria" class="container">
      {% for gallery in galleries %}
      <div class="text-center pt-4">
        <h4 class="title-brown text-uppercase pt-4">{{gallery.1}}</h4>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 col-sm-8">
          <img class="img-fluid img-thumbnail" id="multi" loading="lazy" src="/media/{{gallery.3|default_if_none:'#'}}"
            alt="image gallery">
        </div>

        {% for galleryImg in galleriesImg %}
        <div class="col-12 col-md-4 col-sm-8">
          <img class="img-fluid img-thumbnail" id="multi" loading="lazy" src="/media/{{galleryImg.1|default_if_none:'#'}}"
            alt="image gallery">
        </div>
        {% endfor %}

      </div>
      {% endfor %}

    </section>

    <div class="container" id="articles">
      <div class="row">
        {% for article in articles %}
        {%if article.0 == 1 %}
        <div class="col-12 col-md-6 pt-3 text-center">
          <h3 class="title-brown">{{article.1}}</h3>
          <img src="/media/{{article.3|default_if_none:'#'}}" class="img-fluid img-thumbnail" alt="image article">
          <p class="card-text">{{article.2|safe}}</p>
        </div>
        {% endif %}
        {%if article.0 == 2 %}
        <div class="col-12 col-md-6 pt-3 text-center" id="lateral">
          <h3 class="title-brown">{{article.1}}</h3>
          <img src="/media/{{article.3|default_if_none:'#'}}" class="img-fluid img-thumbnail" alt="image article">
          <p class="card-text">{{article.2|safe}}</p>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endblock %}
  </div>

</body>

<!----- Footer ----->
<br>
<footer>
  <div class="container p-4">
    <div class="shadow p-3 mb-5 bg-white rounded">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">ACERCA DE ADS</h5>
          <p>
            Desde nuestra carpintería ubicada en el sudeste pampeano surgió la idea de ofrecer un nuevo producto en la
            región y una alternativa, ante la creciente demanda de viviendas.
            Adoptamos el sistema Wood Frame por nuestra larga trayectoria trabajando en madera.
            Concretamos viviendas modernas, de construcción rápida y cuidando todos los detalles en cada etapa del
            proyecto.
            Entregamos llave en mano.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5>¿Dónde estamos?</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="https://goo.gl/maps/ApKJphtjHedc52SA6" target="_blank"><i
                  class="bi bi-geo-alt-fill"></i> Montes de Oca 455, 8206 General San Martín, La Pampa</a></li>
            <li><a class="link-secondary" href="https://goo.gl/maps/vDnGQJNJBKUphjqPA" target="_blank"><i
                  class="bi bi-geo-alt-fill"></i> 476 N°5425, 1902 City Bell, La Plata, Buenos Aires</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h6 class="text-muted lead">Comunicate con nosotros</h6>
          <div id="iconos">
            <a href="https://www.facebook.com/ADSconstruccionpampeana" target="_blank"><i
                class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/adsconstruccion/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="mailto:ads.construccionpampeana@gmail.com?Subject=Me%20interesa%20saber%20más%20para%20construir"><i
                class="bi bi-envelope"></i></a>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-12 text-center" style="background-color: rgba(0, 0, 0, 0.2);">
          <p class="text-muted small">&copy; ADS - {% now "Y" %} | Desarrollado por <a
              href="https://github.com/flavius87" target="_blank">flavius</a></p>
        </div>

      </div>
    </div>
  </div>
</footer>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>


      
